<section id="search" class="search-wrap">
    <h1>Search</h1>
    <!--<form action="/api/search:name" class="search-form">-->
     <form action="/api/search" class="search-form">
      <i class="fas fa-search"></i>
      <!--<input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">-->
      <input type="search" name="term" placeholder="Boiler, Air Compressor, Pump, etc...">
      <input type="submit" value="Search">
    </form>
  </section>

  <a href="/api/alldata">All Equipment</a>